@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*, body{
  background-color: #7ed957;
}

.logo{
  width: 200px
}
.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}
.testimonials .testimonial-item {

}
.testimonials .testimonial-item img {

  box-shadow: 0px 5px 5px 0px #adb5bd;
}
.text{
  display: flex;
  align-items: center;
  text-align: justify;
  margin-right: 100px;
}
.bg{
  background-color: rgb(115, 147, 255);
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
p{
  font-family: 'PT Sans', sans-serif;
}

hr{
  border-top: 3px solid red;
  width: 40%;
  margin:auto;
  margin-bottom: 50px;
}


/* ===============================MEDIA QUERY================================== */

@media screen and (max-width: 768px) {
  .frame {
    flex-direction: column !important;
  }
  .text{
    margin-right: 0px;
  }
}